{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
      {% if site.goatcounter_id %}
        <span class="ml-1">
          <a href="https://{{ site.goatcounter_id }}.goatcounter.com" target="_blank">
            <i class="fas fa-chart-bar"></i> Visit Stats
          </a>
        </span>
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
      {% if site.goatcounter_id %}
        <span class="ml-1">
          <a href="https://{{ site.goatcounter_id }}.goatcounter.com" target="_blank">
            <i class="fas fa-chart-bar"></i> Visit Stats
          </a>
        </span>
      {% endif %}
    </div>
  </footer>
{% endif %}
